body{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    padding-left: 400px;
    padding: 10px 10px;
    justify-content: space-between;
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: black;
    height: 50px;
    position: sticky;
}

.nav-links{
    display: flex;
    padding-right: 100px;
    gap: 30px;
    font-size: 18px;
}

.navbar h2{
    color: aliceblue;
    font-size: 28px;
    font-family: 'poppins', 'sans-serif';
    margin: 0;
    padding-left: 20px;
}

.nav-links a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: aqua;
}

.navbar a.active {
    color: var(--main-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}



.home {
    display: flex;
    padding-left: 100px;
    padding-top: 80px;
}

.home-content{
    padding-right: 40px;
}

.home-content h1{
    font-size: 68px;
    font-weight: 700;
    color: aqua;
}

.home-content h3{
    font-size: 44px;
    font-weight: 400;
}

.home-content p{
    font-size: 18px;
    padding-top: 25px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a i {
    font-size: large;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}



.home-img img {
    max-width: 100%;
    width: 350px;
    border-radius: 12%; /* circular image */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border: 5px solid #ffffff22; /* semi-transparent border */
    backdrop-filter: blur(10px);
    margin-bottom: 40px;
  }
  
  /* On hover: zoom + glow effect */
  .home-img img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.7);
  }
  
  .btn{
    background-color: #0ef;
    color: white;
    border-radius: 8px;
    width: 35px;
    height: 20px;
    font-size: 16px;
    padding: 8px;
    font-family: 'poppins', 'sans-serif';
    font-weight: 700;
    box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.2);
  }




  /* ABOUT SECTION */

  .about-section{
    margin-top: 50px;
    background-color: #323946;
    margin-bottom: 50px;
  }

  .about-content{
    padding-top: 50px;
    padding-bottom: 50px;
  }

   .about-section h1{
    font-size: 48px;
    font-weight: 700;
    padding-left: 100px;
  }

   label{
    color: #0ef;
  }

  .about-section p{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    
  }


  /* PROJECT SECTION */

  .project-section{
    margin-bottom: 50px;
  }

  .project-section h1{
    font-size: 48px;
    font-weight: 700;
    padding-left: 100px;
    padding-top: 10px;
  }


  .project-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.project-btn{
  width: 30px;
  height: 10px;
  background-color: #0ef;
  color: #fff;
  padding: 8px 22px;
  border-radius: 8px;
  display: inline-block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    margin-top: 40px;
}

.grid li {
    list-style: none;
    text-align: center;
    border-radius: 8px;
    background-color: #323946;
    font-size: 18px;
    padding: 30px 20px;
    color: #ccc;
    border: 1px solid cyan;
}


  .grid li label{
    color: cyan;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
   
  }

  .grid li i{
    font-size: 28px;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
  }

  .grid li:hover{
    box-shadow: 0px 0px 4px 6px rgba(255, 255, 255, 0.3);
    transform: scale(1.03);
    transition: 0.3s;
  }
  .grid li p{
    margin-top: 10px;
    margin-bottom: 20px;
  }


  /*CONTACT SECTION */

  .contact-section{
    background-color: #323946;
    margin-bottom: 50px;
  }

  .contact-section h1{
    font-size: 48px;
    font-weight: 700;
    padding-left: 100px;
    padding-top: 50px;
  }

  .contact-content{
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-top: 40px;
  padding-bottom: 50px;
  }

.grid-contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  
}

  .grid-contact input[type="text"],
  .grid-contact input[type="email"],
  .grid-contact input[type="number"],
  .grid-contact textarea{
    color: #fff;
    padding: 12px;
    height: 20px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
    width: 350px;
    height: 50px;
    background-color: #1f242d;
  }

  .grid-contact textarea{
    grid-column: 1 / -1;
    height: 200px;
    width: 710px;
    resize: none;
  }

  
  .contact-btn {
    grid-column: 1 / -1;     
    justify-self: center;     
  
    background-color: #0ef;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
    width: 150px;
    margin-top: 30px;
  }
  
  

  

  /* FOOTER SECTION */
  
  .footer-text{
    background-color: #1f242d;
    color: #ccc;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-bottom: 50px;
  }

  



  
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}